# Python
__pycache__/
*.py[cod]
*.egg
*.egg-info/

# Node (caso use algum plugin)
node_modules/

# Virtual envs
.venv/
venv/

# Lambda packages
lambda_package.zip

# Terraform
*.tfstate
*.tfstate.*
*.backup
.terraform/
.terraform.lock.hcl
crash.log
terraform.tfvars

# IDEs
.vscode/
.idea/

# MacOS / Linux
.DS_Store

!.github
!.github/**
